html,
body {
  height: 100%;
}
#wrap {
  min-height: 100%;
}
main {
  padding-bottom: 100px;
  /*Высота футера*/
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}